<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Movie Watchlist</title>
		<script src="https://code.jquery.com/jquery.js"></script>
	</head>
	<body>
		{{{ body }}}
<br /> <br />
		<footer><a href="/movies">Movies API</a></footer>
	</body>
</html>
